html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: rgb(222, 231, 252);
}

.top{
    background: rgb(191, 209, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    transition: 1s;
    position: fixed;
    z-index: 2;
}
.rs{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9, 0, 90);
    color: rgb(214, 224, 247);
    font-size: 30px;
    width: 60px;
    height: 60px;
    margin-left: 40px;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 5px;
    cursor: default;
}
.rs:hover{
    background: rgb(191, 209, 247);
    color: rgb(9, 0, 90);
}
.name{
    transition: 0.5s 1s;
    font-size: 35px;
    color: rgb(9, 0, 90);
}
.project a{
    text-decoration: none;
    transition: 0.5s 1s;
    font-size: 35px;
    color: rgb(9, 0, 90);
}
.project a:visited{
    color: rgb(9, 0, 90);
}
.line{
    width: 35px;
    height: 5px;
    background: rgb(9, 0, 90);
    margin: 6px 0px;
    transition: 0.5s 0.8s;
}
/* side nav bar */
#menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    top: 0;
    overflow: hidden;
    right: -400px;
    /* right: 0px; */
    background: #111D4A;
    height: 100vh;
}
.links{
    display: flex;
    padding-top: 25px;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    height: 15vh;
    color: rgb(191, 209, 247);
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;

    /* background: rgb(156, 162, 255); */
}
.navbar a{
    padding: 0;
    margin: 0;
    height: 25px;
    margin-bottom:80px;
    transition: text-shadow 0.3s;
}
.navbar a:hover{
    text-shadow: white 0px 0px 35px;
}
.social{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 30vh;
    padding-left: 35px;
    padding-right: 15px;
}
.social a{
    margin-left: 15px;
    margin-right: 15px;
}

/* bgimage */
.bgimage{
    background-image: url("./blue.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.intro{
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    padding-left: 10vw;
    color: rgb(174, 202, 255);
}
.intro h1{
    font-family: 'Cutive Mono', monospace;
    font-weight: 900;
    font-size: 30px;
}
.intro p{
    font-family: 'Rufina', serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 55px;
    line-height: 70px;
}
.aboutt{
    width: 110%;
    height: 110%;
}
.aboutt a{
    width: 110%;
    height: 110%;
    padding: 10px;
    border-radius: 7px;
    font-size: 25px;
    color: rgb(174, 202, 255);
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    transition: background-color 0.5s, color 0.5s;
}
.intro a:hover{
    background: rgb(174, 202, 255);
    color: rgb(0, 0, 75);
}
.down{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    
}
.down a{
    width: 110%;
    height: 110%;
    padding: 10px;
    margin-top: 120px;
    font-size: 25px;
    color: rgb(174, 202, 255);
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.5s, color 0.5s;
}
/* skillset grid */
.skillset{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid black; */
    display: grid;
    min-height: 80vh;
    width: 85vw;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 18px;
    row-gap: 18px;
    padding: 15px;
}
.skill{
    /* border: 5px solid black; */
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-around;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0px;
    cursor: default;
    box-shadow: black 0px 0px 5px;
    text-align: center;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Kumbh Sans', sans-serif;
}
.skill h1{
    font-size: 30px;
}
.skill p{
    font-size: 20px;
}
.skill img{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.skill:hover{
    box-shadow: darkblue 0px 0px 10px;
    transform: scale(1.02);
}
.skill:nth-child(1){
    grid-column-start: span 2;
    /* grid-row-start: span 3; */
}
.skill:nth-child(6), .skill:nth-child(7), .skill:nth-child(8){
    opacity: 0;
}
#hackerrank img{
    width: 90px;
}
#hackerrank:hover{
    box-shadow: green 0px 0px 10px;
}
#python img{
    width: 90px;
}
#python:hover{
    box-shadow: rgb(22, 46, 255) 0px 0px 10px;
}
#android img{
    height: 70px;
    padding-top: 20px; 
    margin-top: 50px;
}
#android:hover{
    box-shadow: rgb(0, 221, 118) 0px 0px 10px;
}
#web img{
    height: 125px;
}
#web:hover{
    box-shadow: rgb(255, 153, 0) 0px 0px 10px;
}
#hackathon img{
    height: 130px;
}
#hackathon:hover{
    box-shadow: rgb(124, 0, 0) 0px 0px 10px;
}


/* card animation */
.card-container {
    
    width: 100vw;
    height: 80vh;
    overflow-x: hidden;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    /* background-color: #100e17; */
    padding: 4rem;
    /* padding-left: 0rem; */
    left: 100px;
    /* border: 5px solid black; */
    /* position: fixed; */
}

.card {
    min-width: 300px;
    height: 350px;
    border-radius: 16px;
    background-color: #b5bff5;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
    cursor: pointer;
}


.projimg{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem;
}

.tags div {
    font-size: 11px;
    font-weight: 700;
    padding: 4px 10px;
    border: 2px solid #28242f;
    border-radius: 2rem;
}

.card .category-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 1rem;
    line-height: 28px;
}

.card .article-title {
    font-size: 20px;
    font-weight: 700;
}

.card .article-header {
    margin-bottom: auto;
}

.card .author {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 75px 1fr;
}

.author .info .caption {
    color: #8a8a8a;
}
.card:first-child{
    margin-left: 50px;
}
.card:not(:first-child) {
    margin-left: -130px;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card{
    transform: translateX(130px);
}
.projname{
    font-size: 25px;
}
.date{
    font-size: 17px;
}
.title{
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Lora', serif;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 800;
    color: rgb(8, 8, 80);
    /* text-decoration: underline; */
    text-transform: uppercase;
    word-spacing: 7px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;

}
.bottom a{
    text-decoration: none;
    color: darkblue;
    transition: text-shadow 1s;
}
.bottom a:hover{
    text-shadow: darkblue 0px 0px 10px;
}
.bottom p{
    font-size: 15px;
    margin-left: 25px;
}







@media screen and (max-width: 1080px) {
    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
        background: rgb(222, 231, 252);
    }

    .top{
        background: rgb(191, 209, 247);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        top: 0;
        left: 0;
        right: 0;
        transition: 1s;
        position: fixed;
        z-index: 2;
    }
    .rs{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(9, 0, 90);
        color: rgb(214, 224, 247);
        font-size: 20px;
        width: 40px;
        height: 40px;
        margin-left: 20px;
        /* transition: background-color 0.5s, color 0.5s; */
        border-radius: 4px;
        cursor: default;
    }
    
    /* .name{
        transition: 0.5s 1s;
        font-size: 35px;
        color: rgb(9, 0, 90);
    } */
    /* .project a{
        text-decoration: none;
        transition: 0.5s 1s;
        font-size: 35px;
        color: rgb(9, 0, 90);
    }
    .project a:visited{
        color: rgb(9, 0, 90);
    } */
    .line{
        width: 30px;
        height: 5px;
        background: rgb(9, 0, 90);
        margin: 6px 0px;
        transition: 0.5s 0.8s;
    }
    /* side nav bar */
    #menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 3;
        top: 0;
        overflow: hidden;
        right: -150px;
        /* right: 0px; */
        background: #111D4A;
        height: 100vh;
        width: 150px;
        
    }
    .links{
        display: flex;
        padding-top: 25px;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
        height: 15vh;
        color: rgb(191, 209, 247);
        text-decoration: none;
        font-family: 'Noto Sans JP', sans-serif;
        
        /* background: rgb(156, 162, 255); */
    }
    .navbar a{
        padding: 0;
        margin: 0;
        height: 25px;
        margin-bottom:60px;
        transition: text-shadow 0.3s;
        /* border: 5px solid black; */
    }
    .navbar a:hover{
        text-shadow: white 0px 0px 35px;
    }
    .social{
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin-top: 30vh;
        padding-left: 10px;
        padding-right: 5px;
    }
    .social a{
        margin-left: 10px;
        margin-right: 10px;
    }

    /* bgimage */
    .bgimage{
        background-image: url("./blue.jpg");
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .intro{
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        padding-left: 5vw;
        color: rgb(174, 202, 255);
    }
    /* .intro h1{
        font-family: 'Cutive Mono', monospace;
        font-weight: 900;
        font-size: 10px;
    } */
    .intro p{
        font-family: 'Rufina', serif;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 55px;
        margin-right: 25px;
        line-height: 50px;
    }
    .aboutt{
        width: 110%;
        height: 110%;
    }
    .aboutt a{
        width: 110%;
        height: 110%;
        padding: 10px;
        border-radius: 7px;
        font-size: 20px;
        color: rgb(174, 202, 255);
        text-decoration: none;
        font-family: 'Kanit', sans-serif;
        transition: background-color 0.5s, color 0.5s;
    }
    .intro a:hover{
        background: rgb(174, 202, 255);
        color: rgb(0, 0, 75);
    }
    .down{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        
    }
    .down a{
        width: 100%;
        height: 100%;
        padding: 10px;
        margin-top: 0px;
        font-size: 15px;
        color: rgb(174, 202, 255);
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        text-decoration: none;
        border-radius: 7px;
        transition: background-color 0.5s, color 0.5s;
    }

    
    /* skillset grid */
    .skillset{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        /* border: 5px solid black; */
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        width: 90vw;
        justify-content: center;        
        /* padding: 15px; */
    }
    .skill{
        /* border: 5px solid black; */
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: 1fr;
        align-content: space-around;
        justify-content: center;
        border-radius: 10px;
        padding: 20px;
        padding-top: 0px;
        margin-top: 25px;
        cursor: default;
        box-shadow: black 0px 0px 5px;
        text-align: center;
        transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
        /* font-family: 'Kanit', sans-serif; */
        /* font-family: 'Merriweather Sans', sans-serif; */
        font-family: 'Kumbh Sans', sans-serif;
    }
    .skill h1{
        font-size: 15px;
        margin-top: -15px;
    }
    .skill p{
        font-size: 14px;
        line-height: 24px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .skill img{
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .skill:hover{
        box-shadow: darkblue 0px 0px 10px;
        transform: scale(1.02);
    }

    .skill:nth-child(6), .skill:nth-child(7), .skill:nth-child(8){
        display: none;
    }

    #hackerrank img{
        width: 65px;
        padding-bottom: 10px;
    }
    #hackerrank:hover{
        box-shadow: green 0px 0px 10px;
    }
    #python img{
        width: 45px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #python:hover{
        box-shadow: rgb(22, 46, 255) 0px 0px 10px;
    }
    #android img{
        height: 60px;
        margin-top: 0px;
        padding-bottom: 20px;
    }
    #android:hover{
        box-shadow: rgb(0, 221, 118) 0px 0px 10px;
    }
    #web img{
        height: 85px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #web:hover{
        box-shadow: rgb(255, 153, 0) 0px 0px 10px;
    }
    #hackathon img{
        height: 90px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #hackathon:hover{
        box-shadow: rgb(124, 0, 0) 0px 0px 10px;
    }


    /* card animation */
    .card-container {
        
        width: 100vw;
        height: 90vh;
        overflow-x: hidden;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        /* background-color: #100e17; */
        padding: 4rem;
        margin-bottom: 30px;
        /* padding-left: 0rem; */
        /* left: 100px; */
        /* border: 5px solid black; */
        /* position: fixed; */
    }

    .card {
        min-width: 160px;
        max-width: 160px;
        height: 200px;
        border-radius: 16px;
        background-color: #b5bff5;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        transition: 0.2s;
        cursor: pointer;
        margin-bottom: 35px;
    }

    .card:hover {
    transform: none;
    }

    .card:hover~.card{
        transform: none;
    }

    .projimg{
        width: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem -10px 1rem;
    }

    .tags div {
        font-size: 8px;
        font-weight: 700;
        padding: 1px 5px;
        border: 2px solid #28242f;
        border-radius: 2rem;
        margin-bottom: 0px;
    }

    .card .category-title {
        font-size: 14px;
        color: #fff;
        margin-bottom: 1rem;
        line-height: 28px;
    }

    .card .article-title {
        font-size: 20px;
        font-weight: 700;
    }

    .card .article-header {
        margin-bottom: auto;
    }

    .card .author {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 75px 1fr;
    }

    .author .info .caption {
        color: #8a8a8a;
    }
    .card:first-child{
        margin-left: 10px;
    }
    
    .card:not(:first-child) {
        margin-left: 10px;
        margin-right: 15px;
    }

    .projname{
        font-size: 10px;
        /* line-height: 2px; */
    }
    .date{
        font-size: 8px;
    }
    .title{
        /* font-family: 'Noto Sans JP', sans-serif; */
        /* font-family: 'Playfair Display', serif; */
        /* font-family: 'Merriweather Sans', sans-serif; */
        font-family: 'Lora', serif;
        letter-spacing: 1.5px;
        text-align: center;
        margin-top: 100px;
        font-size: 30px;
        font-weight: 800;
        color: rgb(8, 8, 80);
        /* text-decoration: underline; */
        text-transform: uppercase;
        word-spacing: 7px;
        margin-right: 5px;
        line-height: 1px;
        /* line-height: px; */
    }
    #amandaImg{
        width: 55px;
    }
    #amandaTitle{
        
        white-space: nowrap;
        margin-right: 10px;
        /* border: 1px solid black; */
        margin-left: -15px;
    }
    #amandaDate{
        margin-left: -15px;
    }
    #amandaTags{
        margin-right: 7px;
    }
    #pygameName{
        margin-bottom: -15px;
    }
    #pygameImg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        /* border: 1px solid black; */
        margin-left: -65px;
        
    }
    #pygame1{
        width: 65px;
        margin-top: -25px;
    }
    #pygame2{
        width: 65px;
        margin-bottom: 25px;
    }
    #pygameTags{
        margin-top: -5px;
    }
    #moodyAI{
        width: 45px;
    }
    #cindy{
        width: 40px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #cindyTags{
        margin-left: -10px;
    }

    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0px;
        /* margin-bottom: 20px; */
        font-size: 10px;
        font-family: 'Noto Sans JP', sans-serif;

    }
    .bottom a{
        text-decoration: none;
        color: darkblue;
        transition: text-shadow 1s;
        text-align: center;
    }
    .bottom a:hover{
        text-shadow: darkblue 0px 0px 10px;
        
        
    }
    .bottom p{
        font-size: 10px;
        margin-left: 0px;
    }
}


/* optimisong for phone */